### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [211]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# Read Purchasing File path and store into Pandas data frame ('.'/since Resources folder is in same directory as .ipynb file)
purchase_data = pd.read_csv("./Resources/purchase_data.csv")
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",$3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,$1.56
2,2,Ithergue48,24,Male,92,Final Critic,$4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,$3.27
4,4,Iskosia90,23,Male,131,Fury,$1.44

* Display the total number of players

In [212]:
# Total number of players
players=purchase_data["SN"].value_counts()

#len gives the count of those unique values
total_players=len(players)
total_players_df=pd.DataFrame({"Total Players":[total_players]})
total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [213]:
# Number of unique items
items=purchase_data["Item Name"].value_counts()
#print(len(items))

#Average purchase price, total purchases & total revenue
total_price=purchase_data["Price"].sum()
total_purchase=purchase_data["Price"].count()
avg_price=(total_price/total_purchase)

#Formatting for floats
pd.options.display.float_format='${:,.2f}'.format
#print(avg_price)
#print(total_purchase)
#print(total_price)

#Purchasing Analysis
purchase_analysis_df=pd.DataFrame({"Number of Unique Items":[(len(items))], "Average Price":[avg_price],"Total Purchases":[total_purchase],"Total Revenue":[total_price]})
purchase_analysis_df

   Number of Unique Items  Average Price  Total Purchases  Total Revenue
0                     179          $3.05              780      $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [214]:
#Player demographics-loc to access certain columns
players_demo=purchase_data.loc[:,["Gender", "SN", "Age"]]
print(players_demo)

#Dropped duplicates from SN
players_demo=players_demo.drop_duplicates()
players_demo

#Count of players
players_count=players_demo["Gender"].value_counts()
percent_players=players_count/total_players
players_count

gender_demographics = pd.DataFrame({"Total Count": players_count, "Percentage of Players": percent_players})
#using map to format the values in percentage of players column to 2 decimal & a % sign
gender_demographics['Percentage of Players'] = gender_demographics['Percentage of Players'].map("{:,.2%}".format)

gender_demographics

     Gender             SN  Age
0      Male        Lisim78   20
1      Male    Lisovynya38   40
2      Male     Ithergue48   24
3      Male  Chamassasya86   24
4      Male      Iskosia90   23
..      ...            ...  ...
775  Female     Aethedru70   21
776    Male         Iral74   21
777    Male     Yathecal72   20
778    Male        Sisur91    7
779    Male      Ennrian78   24

[780 rows x 3 columns]

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [215]:
#Dataframe containing gender data
gender_group=purchase_data.groupby(["Gender"])
#print(gender_group)

#Purchase count - count values
purchase_count=gender_group["Purchase ID"].count()
print(purchase_count)

#Avg purchase price - used aggregate function to get the mean of prices grouped by gender
print(gender_group['Price'].agg(np.mean))

#Avg. purchase total per person by gender
#print("--Avg. purchase total per person by gender--")
SN_group=purchase_data.groupby(["SN", "Gender"])
sum_SN=SN_group["Price"].agg(np.sum)
avg_SN_gender=sum_SN.groupby(["Gender"]).agg(np.mean)
#print(avg_SN_gender)

#Purchasing Analysis Gender-reset_index() for the columns names to 'align'
gender_demo=pd.DataFrame({"Purchase Count":(purchase_count), "Avg. Purchase Price":(gender_group['Price'].agg(np.mean)), "Total Purchase Value":(gender_group['Price'].agg(np.sum)), "Avg. Total Purchase Price":(avg_SN_gender)}).reset_index()
gender_demo

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64
Gender
Female                  $3.20
Male                    $3.02
Other / Non-Disclosed   $3.35
Name: Price, dtype: float64

,Gender,Purchase Count,Avg. Purchase Price,Total Purchase Value,Avg. Total Purchase Price
0,Female,113,$3.20,$361.94,$4.47
1,Male,652,$3.02,"$1,967.64",$4.07
2,Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [216]:
age_bins=pd.cut(purchase_data["Age"], bins=[0,21,23,26,46], labels=["0-20","21-23","24-26","27-46"])

purchase_data["Age Group"]=age_bins
purchase_data

age_group=purchase_data.groupby(["Age Group"])
count_age=age_group["Age"].count()
count_age
age_percent = count_age/total_players
age_percent

age_demographics = pd.DataFrame({"Age Count": count_age, "Age Percentage": age_percent}).reset_index()
#using map to format the values in Age percentage column to 2 decimal & a % sign
age_demographics["Age Percentage"] = age_demographics["Age Percentage"].map("{:,.2%}".format)
age_demographics

  Age Group  Age Count Age Percentage
0      0-20        348         60.42%
1     21-23        137         23.78%
2     24-26        140         24.31%
3     27-46        155         26.91%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [223]:
age_bins=pd.cut(purchase_data["Age"], bins=[0,9.9,14.9,21.9,35.9,45.9], labels=["<10","10-14","20-24","30-34","40+"])
age_bins

purchase_data["Age Group"]=age_bins
purchase_data

age_group=purchase_data.groupby(["Age Group"])
price_count=age_group["Price"].count()
#price_count
avg_price=age_group["Price"].mean()
#avg_price
total_price=age_group["Price"].sum()
#total_price
avg_per_person=total_price/price_count
#age_percent

age_demographics = pd.DataFrame({"Price Count": price_count, "Avg. Purchase Price": avg_price, "Total Purchase Value": total_price, "Avg. Total Purchase Per Person": avg_per_person}).reset_index()
#age_demographics["Age Percentage"] = age_demographics["Age Percentage"].map("{:,.2%}".format)
age_demographics

,Age Group,Price Count,Avg. Purchase Price,Total Purchase Value,Avg. Total Purchase Per Person
0,<10,23,$3.35,$77.13,$3.35
1,10-14,28,$2.96,$82.78,$2.96
2,20-24,297,$3.06,$907.95,$3.06
3,30-34,392,$3.01,"$1,178.03",$3.01
4,40+,40,$3.35,$133.88,$3.35

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [218]:
#This statement groups by SN & agg price sum-if as_index false is not included, the column name for price disappears
SN_group=purchase_data.groupby(['SN'],as_index=False)['Price'].agg(np.sum)
#sorting values by price and in descending order
SN_group_desc=SN_group_desc.sort_values(by=['Price'],ascending=False)

#Similar to above, group by SN and counts price
purchase_count=purchase_data.groupby(['SN'],as_index=False)['Price'].count()
#Sorts the values by price and in descending order
purchase_count_desc=purchase_count.sort_values(by=['Price'],ascending=False)

#merging the two sorted dataframes on SN
avg_total_price=pd.merge(SN_group_desc,purchase_count_desc, how="left", on="SN")
#assigning new column names to the merged dataframe
avg_total_price.columns=["SN","Total Price","Count"]

#calculating avg. total price & "assigning" the output to a new column Average Total price
avg_total_price["Average Total Price"]=avg_total_price["Total Price"]/avg_total_price["Count"]
print(avg_total_price)

# Assigning merged data to dataframe output
age_demographics = pd.DataFrame({"Price Count": price_count, "Avg. Purchase Price": avg_price, "Total Purchase Value": total_price, "Avg. Total Purchase Per Person": avg_per_person}).reset_index()

                SN  Total Price  Count  Average Total Price
0        Lisosia93       $18.96      5                $3.79
1      Idastidru52       $15.45      4                $3.86
2       Chamjask73       $13.83      3                $4.61
3           Iral74       $13.62      4                $3.40
4      Iskadarya95       $13.10      3                $4.37
..             ...          ...    ...                  ...
571  Frichjaskan98        $1.02      1                $1.02
572       Irilis75        $1.02      1                $1.02
573        Aidai61        $1.01      1                $1.01
574     Chanirra79        $1.01      1                $1.01
575          Alo38        $1.00      1                $1.00

[576 rows x 4 columns]

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [228]:
#Grouped by Item Name and item ID, used 'SN' to count
popular_count=purchase_data.groupby(['Item ID','Item Name'],as_index=False)['SN'].count()
#Added new column names for the group by object
popular_count.columns = ['Item ID','Item Name','Count']
#Sorting values by count and in descending order
popular_count_desc=popular_count.sort_values(by=['Count'],ascending=False)
#printing to check the output
#print(popular_count_desc)

#Grouped by Item ID and calculating the average price
avg_price=purchase_data.groupby(['Item ID'],as_index=False)['Price'].agg(np.mean)
#Added new column names for the group by object
avg_price.columns=['Item ID', 'Average Price']
#Sorting by average price and in descending order
avg_price_desc=avg_price.sort_values(by=['Average Price'],ascending=False)
#print to check the output of this group by
#print(avg_price_desc)

#Grouped by Item ID and calculating the total price
total_price=purchase_data.groupby(['Item ID'],as_index=False)['Price'].sum()
#Added new column names for the group by object
total_price.columns=['Item ID', 'Total Price']
#Sorting by price in descending order
total_price_desc=total_price.sort_values(by=['Total Price'], ascending=False)
#print to check the output of this group by
#print(total_price_desc)

#merging the two 'dataframes' popular count & avg price on Item ID
avg_count=pd.merge(popular_count_desc,avg_price_desc, how="left", on="Item ID")
#print(avg_count)

#merging avg total price and above merged dataframe
avg_count_tot_price=pd.merge(avg_count,total_price_desc, how="left", on="Item ID")
popular_items=avg_count_tot_price.head(5)
print(popular_items)

# Assigning merged data to dataframe output
#popular_items=pd.DataFrame({"Price Count": price_count, "Avg. Purchase Price": avg_price, "Total Purchase Value": total_price, "Avg. Total Purchase Per Person": avg_per_person})

   Item ID                                     Item Name  Count  \
0       92                                  Final Critic     13
1      178  Oathbreaker, Last Hope of the Breaking Storm     12
2      145                          Fiery Glass Crusader      9
3      132                                    Persuasion      9
4      108     Extraction, Quickblade Of Trembling Hands      9

   Average Price  Total Price
0          $4.61       $59.99
1          $4.23       $50.76
2          $4.58       $41.22
3          $3.22       $28.99
4          $3.53       $31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame