### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# Read Purchasing File path and store into Pandas data frame ('.'/since Resources folder is in same directory as .ipynb file)
purchase_data = pd.read_csv("./Resources/purchase_data.csv")
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

* Display the total number of players

In [3]:
# Total number of players
players=purchase_data["SN"].value_counts()

#len gives the count of players
total_players=len(players)
total_players_df=pd.DataFrame({"Total Players":[total_players]})
total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
# Number of unique items
items=purchase_data["Item Name"].value_counts()
#print(len(items))

#Average purchase price, total purchases & total revenue
total_price=purchase_data["Price"].sum()
total_purchase=purchase_data["Price"].count()
avg_price=(total_price/total_purchase)

#Formatting for floats
pd.options.display.float_format='${:,.2f}'.format
#print(avg_price)
#print(total_purchase)
#print(total_price)

#Purchasing Analysis
purchase_analysis_df=pd.DataFrame({"Number of Unique Items":[(len(items))], "Average Price":[avg_price],"Number of Purchases":[total_purchase],"Total Revenue":[total_price]})
purchase_analysis_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179          $3.05                  780      $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
#Player demographics-loc to access certain columns
players_demo=purchase_data.loc[:,["Gender", "SN", "Age"]]
#print(players_demo)

#Dropped duplicates from SN
players_demo=players_demo.drop_duplicates()
players_demo

#Calculating the count & percent of players. total_players value is from the first (total players) code line.
players_count=players_demo["Gender"].value_counts()
percent_players=players_count/total_players
players_count

#Gender Demographics
gender_demographics = pd.DataFrame({"Total Count": players_count, "Percentage of Players": percent_players})
#using map to format the values in percentage of players column to 2 decimal & a % sign
gender_demographics['Percentage of Players'] = gender_demographics['Percentage of Players'].map("{:,.2%}".format)

gender_demographics

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
#Dataframe grouped by gender data
gender_group=purchase_data.groupby(["Gender"])
#print(gender_group)

#Count values grouped by purchase ID
purchase_count=gender_group["Purchase ID"].count()
#print(purchase_count)

#Avg purchase price - used aggregate function to get the mean of prices grouped by gender
avg_price=gender_group['Price'].agg(np.mean)

#Avg. purchase total per person by gender
SN_group=purchase_data.groupby(["SN", "Gender"])
sum_SN=SN_group["Price"].agg(np.sum)
avg_SN_gender=sum_SN.groupby(["Gender"]).agg(np.mean)
#print(avg_SN_gender)

#Purchasing Analysis Gender-reset_index() for the columns names to 'align'
gender_demo=pd.DataFrame({"Purchase Count":(purchase_count), "Avg. Purchase Price":(gender_group['Price'].agg(np.mean)), "Total Purchase Value":(gender_group['Price'].agg(np.sum)), "Avg. Total Purchase Price":(avg_SN_gender)}).reset_index()
gender_demo

,Gender,Purchase Count,Avg. Purchase Price,Total Purchase Value,Avg. Total Purchase Price
0,Female,113,$3.20,$361.94,$4.47
1,Male,652,$3.02,"$1,967.64",$4.07
2,Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [7]:
_data=purchase_data.loc[:,["SN", "Age"]]
non_duplicate_data = _data.drop_duplicates()
#print(non_duplicate_data.count())

#Used pd.cut to on Age column to create bins
age_bins=pd.cut(non_duplicate_data["Age"], bins=[0,9.9,14.9,19.9,24.9,29.9,34.9,39.9,45], labels=["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"])

#Added new column named Age group to the df
non_duplicate_data["Age Group"]=age_bins
non_duplicate_data

#Grouped data by age group
age_group=non_duplicate_data.groupby(["Age Group"])
#Calculated age count
count_age=age_group["Age"].count()
count_age
#Calculated age percent
age_percent = count_age/total_players
age_percent

age_demographics = pd.DataFrame({"Age Count": count_age, "Age Percentage": age_percent}).reset_index()
#using map to format the values in Age percentage column to 2 decimal & a % sign
age_demographics["Age Percentage"] = age_demographics["Age Percentage"].map("{:,.2%}".format)
age_demographics

<ipython-input-7-bd3e28b6d0ba>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  non_duplicate_data["Age Group"]=age_bins

  Age Group  Age Count Age Percentage
0       <10         17          2.95%
1     10-14         22          3.82%
2     15-19        107         18.58%
3     20-24        258         44.79%
4     25-29         77         13.37%
5     30-34         52          9.03%
6     35-39         31          5.38%
7       40+         12          2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [12]:
#Used pd.cut to on Age column to create bins
age_bins=pd.cut(purchase_data["Age"], bins=[0,9.9,14.9,19.9,24.9,29.9,34.9,39.9,46.9], labels=["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"])
age_bins

purchase_data["Age Group"]=age_bins

age_group=purchase_data.groupby(["Age Group"])
#price_count
price_count=age_group["Price"].count()
price_count.dropna()

#avg_price
avg_price=age_group["Price"].mean()
avg_price.dropna()

#total_price
total_price=age_group["Price"].sum()
total_price.dropna()

total_purchase_price_count=age_group["Price"].count()

#Avg. total purchase per person
avg_per_person=total_price/total_purchase_price_count
avg_per_person.dropna()

#Age Demographics
age_demographics = pd.DataFrame({"Purchase Count": price_count, "Avg. Purchase Price": avg_price, "Total Purchase Value": total_price, "Avg. Total Purchase Per Person": avg_per_person}).reset_index()

#Dropped rows with age-groups that are not asked
age_demographics = age_demographics[age_demographics["Age Group"]!="15-19"]
age_demographics = age_demographics[age_demographics["Age Group"]!="25-29"]
age_demographics = age_demographics[age_demographics["Age Group"]!="35-39"]
age_demographics

,Age Group,Purchase Count,Avg. Purchase Price,Total Purchase Value,Avg. Total Purchase Per Person
0,<10,23,$3.35,$77.13,$3.35
1,10-14,28,$2.96,$82.78,$2.96
3,20-24,365,$3.05,"$1,114.06",$3.05
5,30-34,73,$2.93,$214.00,$2.93
7,40+,13,$2.94,$38.24,$2.94

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
#This statement groups by SN & agg price sum-if as_index false is not included, the column name for price disappears
SN_group=purchase_data.groupby(['SN'],as_index=False)['Price'].agg(np.sum)
#sorting values by price and in descending order
SN_group_desc=SN_group_desc.sort_values(by=['Price'],ascending=False)

#Similar to above, group by SN and counts price
purchase_count=purchase_data.groupby(['SN'],as_index=False)['Price'].count()
#Sorts the values by price and in descending order
purchase_count_desc=purchase_count.sort_values(by=['Price'],ascending=False)

#merging the two sorted dataframes on SN
avg_total_price=pd.merge(SN_group_desc,purchase_count_desc, how="left", on="SN")
#assigning new column names to the merged dataframe
avg_total_price.columns=["SN","Total Purchase Value", "Purchase Count"]

#calculating average purchase price & assigning the output to a new column Average purchase price
avg_total_price["Average Purchase Price"]=avg_total_price["Total Purchase Value"]/avg_total_price["Purchase Count"]

#Rearranging columns as in the example solution
top_spenders=avg_total_price[["SN","Purchase Count", "Average Purchase Price", "Total Purchase Value"]]

#filtering the top 5 values
top_spenders=top_spenders.head(5)
print(top_spenders)

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
#Grouped by Item Name and item ID, used 'SN' to count
popular_count=purchase_data.groupby(['Item ID','Item Name'],as_index=False)['SN'].count()
#print(popular_count)

#Sorting values by count and in descending order (renamed SN to Purchase Count after merging below)
popular_count_desc=popular_count.sort_values(by=['SN'],ascending=False)

#Grouped by Item ID and calculating the average price
avg_price=purchase_data.groupby(['Item ID'],as_index=False)['Price'].agg(np.mean)

#Sorting by average price and in descending order (renamed Price to Avg Price after merging below)
avg_price_desc=avg_price.sort_values(by=['Price'],ascending=False)

#Grouped by Item ID and calculating the total purchase price
total_price=purchase_data.groupby(['Item ID'],as_index=False)['Price'].sum()
#print(total_price)

#Sorting by price in descending order
total_price_desc=total_price.sort_values(by=['Price'], ascending=False)
#print to check the output of this group by
#print(total_price_desc)

#merging the two dataframes sorted popular count & avg price on Item ID
avg_count=pd.merge(popular_count_desc,avg_price_desc, how="left", on="Item ID")
#print(avg_count)

#merging sorted avg total price and above merged dataframes
avg_count_tot_price=pd.merge(avg_count,total_price_desc, how="left", on="Item ID")

#Renaming columns
avg_count_tot_price.columns = ['Item ID','Item Name','Purchase Count', 'Item Price', 'Total Purchase Value']

#filtering the top 5 values
popular_items=avg_count_tot_price.head(5)
print(popular_items)

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [ ]:
#Sorting the above obtained data by total purchase price in descending order
profitable_items=avg_count_tot_price.sort_values(by=['Total Purchase Value'], ascending=True)

#filtering to 5 values
profitable_items=profitable_items.head(5)
print(profitable_items)