### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [14]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# Read Purchasing File path and store into Pandas data frame ('.'/since Resources folder is in same directory as .ipynb file)
purchase_data = pd.read_csv("./Resources/purchase_data.csv")
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

* Display the total number of players

In [63]:
# Total number of players
# Converted 'column' SN to series so functions can be used to analyze the data from the 'column'
players_series=pd.Series(purchase_data["SN"])
#Value_counts gives the count of unique values in the 'column' SN
players_series.value_counts()
#len gives the count of those unique values
total_players=len(players_series.value_counts())
total_players_df=pd.DataFrame{"Total Players"}

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [47]:
# Number of unique items
# Converted 'column' Item Name to series so functions can be used to analyze the data from the 'column'
items_series=pd.Series(purchase_data["Item Name"])
print(len(items_series.unique()))

#Average purchase price
price_series=pd.Series(purchase_data["Price"])
avg_price=(price_series.sum()/price_series.count())
print(avg_price)#check formatting($ sign & decimals)

#Total number of purchases
total_purchases=price_series.count()
print(total_purchases)

#Total revenue--WIP
#value_counts gives individual quantities
print(items_series.value_counts())
price_series=pd.Series(purchase_data["Price"])
print(price_series.value_counts())

179
3.0509871794871795
780
Final Critic                                    13
Oathbreaker, Last Hope of the Breaking Storm    12
Persuasion                                       9
Extraction, Quickblade Of Trembling Hands        9
Nirvana                                          9
                                                ..
Ghost Reaver, Longsword of Magic                 1
Gladiator's Glaive                               1
Endbringer                                       1
Celeste                                          1
Exiled Mithril Longsword                         1
Name: Item Name, Length: 179, dtype: int64
4.40    21
4.23    20
4.35    14
2.18    14
1.02    14
        ..
2.17     1
4.17     1
1.99     1
4.50     1
3.30     1
Name: Price, Length: 145, dtype: int64

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [57]:
#Percentage & count of male players--WIP
players_gender=pd.Series(purchase_data["Gender"])
print(players_gender.value_counts())

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame