### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = ("Resources/schools_complete.csv")
student_data_to_load = ("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [35]:
#Total number of schools
school_count=school_data_complete["school_name"].value_counts()
total_schools=school_count.count()
print(total_schools)

#Total number of students
total_students=school_data_complete["student_name"].count()
print(total_students)

#Total number of budget
total_budget=school_data_complete["budget"].sum()
print(total_budget)

#Total math score
sum_math_score=school_data_complete["math_score"].sum()
avg_math_score=sum_math_score/total_students
print(avg_math_score)

#Total reading score
sum_read_score=school_data_complete["reading_score"].sum()
avg_read_score=sum_read_score/total_students
print(avg_read_score)

#% of students greater than 70 in maths score
math_score70=school_data_complete["math_score"]>=70
stu_mscore70=math_score70.value_counts()
print(stu_mscore70)
stu_mpercent70=((stu_mscore70)/total_students)*100 ##to see how to get just the True value
print(stu_mpercent70)

#% of students greater than 70 in reading score
read_score70=school_data_complete["reading_score"]>=70
read_score70
stu_rscore70=read_score70.value_counts()
print(stu_rscore70)
stu_rpercent70=((stu_rscore70)/total_students)*100 ##to see how to get just the True value
print(stu_rpercent70)

#% of students passed in reading & math
total_score=stu_mscore70+stu_rscore70
overall_percent=((total_score)/total_students)*100 ##to see how to get just the True value
print(overall_percent)

stu_scorecard={"Total Schools":total_schools,"Total Students":total_students,"Total Budget":total_budget,"Average Math Score":avg_math_score, "Average Reading Score":avg_read_score,"% Passing Math":stu_mpercent70,"% Passing Reading":stu_rpercent70, "% Overall Passing":overall_percent}
scorecard_df=pd.DataFrame(stu_scorecard)
district_scorecard_df=scorecard_df[["Total Schools","Total Students","Total Budget","Average Math Score", "Average Reading Score","% Passing Math","% Passing Reading", "% Overall Passing"]]
district_scorecard_df

15
39170
82932329558
78.98537145774827
81.87784018381414
True     29370
False     9800
Name: math_score, dtype: int64
True    74.98
False   25.02
Name: math_score, dtype: float64
True     33610
False     5560
Name: reading_score, dtype: int64
True    85.81
False   14.19
Name: reading_score, dtype: float64
True    160.79
False    39.21
dtype: float64

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
True,15,39170,82932329558,78.99,81.88,74.98,85.81,160.79
False,15,39170,82932329558,78.99,81.88,25.02,14.19,39.21

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [24]:
#for each school type output the key metrics---looks like a for loop
for school_name in school_data_complete:
    school_type=school_data_complete["type"].unique()
school_type

array(['District', 'Charter'], dtype=object)

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type